In [2]:
import pandas as pd
dataset = pd.read_excel("dataset.xlsx")
print(len(dataset.index))
print(len(dataset.columns))
dataset.head(2)

56
13

,No,Question 1,Response 1,Question 2,Response 2,Question 3,Response 3,Question 4,Response 4,Question 5,Response 5,Question 6,Response 6
0,1.0,How are you feeling today,Good,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Not Good,What is wrong/,Feeling feverish,"Check your Temperature, if > 99⁰ contact your ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
alphabet = "abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz"

In [327]:
def convert_to_no(cell):
    cell = cell.lower()
    cell_no = [int(cell[1:])-2, alphabet.index(cell[0])]
    return cell_no

def convert_to_xl(cell_no):
    cell = alphabet[cell_no[1]].upper()+str(cell_no[0]+2)
    return cell

def convert_to_dict(response, cell_no):
    response = response.to_dict()
    response_tmp = response.copy()
    for key in response_tmp.keys():
        response[convert_to_xl([key, cell_no[1]+1])
                    ] = response.pop(key, None)
    return response

def gen_response(cell):    
    cell_no = convert_to_no(cell)
    if (cell == "A1"):
        cell="A2"
        cell_no = convert_to_no(cell)
        response = dataset.iloc[cell_no[0]:len(dataset.index), cell_no[1]+1].dropna()
        response = response.to_dict()
        response_tmp = response.copy()
        for key in response_tmp.keys():
            response[convert_to_xl([key, cell_no[1]])
                     ] = response.pop(key, None)
        return response

    if (cell_no[1]%2 == 0):
        # response = dataset.iloc[cell_no[0], cell_no[1]+1]
        # response = {convert_to_xl([cell_no[0], cell_no[1]+1]): response}
        response = {"Question": dataset.iloc[cell_no[0], cell_no[1]+1]}
        next = dataset.index.where(dataset[list(dataset.columns)[cell_no[1]+1]].notna().dropna())
        next = list(i for i in (list(next)) if i>cell_no[0])[0]
        options = dataset.iloc[cell_no[0]:int(next), cell_no[1]+2].dropna()
        options = convert_to_dict(options, [cell_no[0], cell_no[1]+1])
        response["Options"]=options
        return response
        
print(gen_response("A20"))

{'Question': 'Did you do your regular exercise today', 'Options': {'C20': 'Yes', 'C21': 'No '}}

In [240]:
print(list(i for i in (list(dataset.index.where(dataset[list(dataset.columns)[3]].notna().dropna()))) if i>1.0)[0])

15.0